/* Add any CSS rules for Angular module "mappins" */

/* Disabled rows have visually toned-down images */
tr.disabled a.crm-mappins-rule-image-button {
  opacity: .25;
  filter: grayscale(50%);
  -webkit-filter: grayscale(.5);
}
