<div ng-controller="ruleFormCtrl">
  <div crm-ui-debug="model"></div>

  <table class="form-layout-compressed">
    <tr class="crm-relationship-type-form-block-id" ng-if="model.rule.id">
        <td class="label">ID</td>
        <td>{{model.rule.id}}</td>
    </tr>
    <tr class="crm-relationship-type-form-block-criteria">
        <td class="label">{{ts('Criteria')}}</td>
        <td><input type="text" ng-model="model.criteria"><br />
        <span class="description">{{ts('The attribute of the mapped contact to check.')}}</span></td>
    </tr>
    <tr class="crm-relationship-type-form-block-value">
        <td class="label">{{ts('Value')}}</td>
        <td><input type="text" ng-model="model.value"><br />
        <span class="description">{{ts('The value which the mapped contact must have, for the given criteria, in order for this rule to match.')}}</span></td>
    </tr>
    <tr class="crm-relationship-type-form-block-image_url" id="image_url_tr">
        <td class="label">{{ts('Image')}}</td>            
        <td>
          <a class="button crm-mappins-rule-image-button" id="mappinsrule-image-button" href="#" data-rule-id="{$row.id}">
            <img id="mappinsrule-image-preview" src="{$image_url}" height="20px" width="20px" />
          </a>
          <span style="display: none">{{model.rule.image_url}}</span>
          <br style="clear:both" />
          <span class="description">{{ts('The image to use if this rule matches. Click to select/upload an image.')}}</span>
          </td>
        </td>              

    </tr>
    <tr class="crm-relationship-type-form-block-uf_group_id">
        <td class="label">{{ts('Profile(s)')}}</td>
        <td>
          <select
            multiple 
            ui-jq="select2"
            ui-options="{dropdownAutoWidth : true}"
            ng-model="model.uf_group_id" 
            ng-options="profile.title for (key, profile) in model.profiles | orderBy:'title' | filter:{id:!0}"
            required>
            <!-- <option value=""></option> -->
          </select><br />
          
        <span class="description">{{ts('This rule will only apply on the selected profile(s); leave blank for all profiles.')}}</span></td>
    </tr>
    <tr class="crm-relationship-type-form-block-is_active">
        <td class="label">{{ts('Active')}}</td>
        <td><input type="text" ng-model="model.is_active"><br />
        <span class="description">{{ts('Is this rule active?')}}</span></td>
    </tr>
  </table>
</div>