<td>{{rule.id}}</td>


<td>
  {{criteriaOptions[rule.criteria]}}
</td>
<td>
  {{rule.value}}
</td>
<td>
  <a class="button crm-mappins-rule-image-button" href="" data-rule-id="{{rule.id}}" ng-click="openKCFinder(rule)">
  <!-- <a class="button crm-mappins-rule-image-button" href="" data-rule-id="{{rule.id}}" ng-click="openKCFinder($index, viewName)"> -->
    <img 
      id="mappinsrule-image-preview" 
      src="{{rule.image_url}}" 
      height="20px" 
      width="20px" 
      ng-style="{visibility : ((rule.hasOwnProperty('image_url')) && 'visible') || 'hidden'}"
    />
  </a><br>
  <div crm-ui-debug="rule"></div>
</td>
<td ng-include="'~/mappins/blockRuleActionLinks.html'"></td>
<td ng-include="'~/mappins/blockRuleProfiles.html'" ng-if="viewName == 'allRules'"></td>