<a 
  class="action-item crm-hover-button" href="#/mappins/rule/{{rule.id}}?destination={{$location.path();}}&viewName={{viewName}}"
>
  {{ts('Edit')}}
</a>

<a
  ng-if="(rule.is_active == '0')"
  class="action-item crm-hover-button"
  href=""
  crm-confirm="{message: ts('Enable <em>Rule %1</em> in all profiles?', {1: rule.id})}" on-yes="rule.enable();"
>
  {{ts('Enable')}}
</a>

<a
  ng-if="(rule.is_active == '1')"
  class="action-item crm-hover-button"
  href=""
  crm-confirm="{message: ts('Disable <em>Rule %1</em> in all profiles?', {1: rule.id})}" on-yes="rule.disable();"
>
  {{ts('Disable')}}
</a>

<a
  class="action-item crm-hover-button"
  href=""
  crm-confirm="{message: ts('Delete <em>Rule %1</em> from all profiles?', {1: rule.id})}" on-yes="rule.del($index, viewName);"
>
  {{ts('Delete')}}  
</a>