<td ng-if="viewName != 'allRules'">{{value.rule_id}}</td>
<td ng-if="viewName == 'allRules'">{{value.id}}</td>


<td>
  {{criteriaOptions[value.criteria]}}
</td>
<td>
  {{value.value}}
</td>
<td>
  <a class="button crm-mappins-rule-image-button" href="" data-rule-id="{{value.rule_id}}" ng-click="openKCFinder($index, viewName)">
    <img 
      id="mappinsrule-image-preview" 
      src="{{value.image_url}}" 
      height="20px" 
      width="20px" 
      ng-style="{visibility : ((value.hasOwnProperty('image_url')) && 'visible') || 'hidden'}"
    />
  </a>
</td>
<td ng-include="'~/mappins/blockRuleActionLinks.html'" ng-init="rule = value"></td>
<td ng-include="'~/mappins/blockRuleProfiles.html'" ng-init="rule = value" ng-if="viewName == 'allRules'"></td>