<div class="crm-container">
<button crm-icon="fa-plus-circle" ng-click="openRuleForm();">Add Rule</button>
  <div crm-ui-debug="profiles"></div>
  <h1 crm-page-title>{{ts('Map Pin Rules')}}</h1>

  <div crm-ui-tab-set>
    <div id="mappinsRule-tab-perProfile" crm-ui-tab crm-title="ts('Per Profile')">
      <label for="profile">Profile</label>
      <select id="profile" ng-model="selectedProfile" ng-options="profile.title for (key, profile) in profiles | orderBy:'title'" ng-change="setSelectedProfile(selectedProfile); loadSelectedProfileRules();"></select>
      <div crm-ui-debug="rules.selectedProfile"></div>
      <div crm-ui-debug="selectedProfile"></div>
      <div crm-ui-debug="selectedProfile.hasOwnProperty('id')"></div>
      <span crm-ui-order="{var: 'byProfleOrder', 'defaults': ['weight'] }"></span>
      <div ng-if="selectedProfile.id > 0">
        <h2>This profile considers these assigned rules first:</h2>
        <div ng-if="_.isEmpty(rules.selectedProfile)">
          (No rules found for this profile.)
        </div>
        <table class="display" ng-if="! _.isEmpty(rules.selectedProfile)">
          <thead>
            <tr>
              <th>{{ts('ID')}}</th>
              <th>{{ts('Criteria')}}</th>
              <th>{{ts('Value')}}</th>
              <th>{{ts('Image')}}</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody ui-sortable="{stop: saveWeights}" ng-model="rules.selectedProfile" id="selectedProfileRules">
            <tr             
              ng-repeat="(key, value) in rules.selectedProfile"
              ng-class="'mappins-blockRuleRow-status-' + value.is_active"
              ng-include="'~/mappins/blockRuleRow.html'"
              ng-init="viewName = 'byProfile'"
            ></tr>
          </tbody>
        </table>        
      </div>
      <div ng-if="! _.isEmpty(rules.unassigned)">
        <h2>All profiles fall back to these unassigned rules:</h2>
        <table class="display">
          <thead>
            <tr>
              <th>{{ts('ID')}}</th>
              <th>{{ts('Criteria')}}</th>
              <th>{{ts('Value')}}</th>
              <th>{{ts('Image')}}</th>
              <th>Actions</th>
            </tr>
          </thead>
          <!--
          <tbody ui-sortable="{update: saveWeights}" ng-model="rules.unassigned" id="unassignedRules">
          -->
          <tbody ui-sortable="{stop: saveWeights}" ng-model="rules.unassigned" id="unassignedRules">
            <tr             
              ng-repeat="(key, value) in rules.unassigned"
              ng-class="'mappins-blockRuleRow-status-' + value.is_active"
              ng-include="'~/mappins/blockRuleRow.html'"
              ng-init="viewName = 'byProfile'"
            ></tr>
          </tbody>
        </table>        
      </div>
    </div>
    <div id="mappinsRule-tab-all" crm-ui-tab crm-title="ts('All')">
      all
    </div>
  </div>
</div>
