<div class="crm-container">
<button crm-icon="fa-plus-circle" ng-click="openEditForm()">Add Rule</button>
  <div crm-ui-debug="profiles"></div>
  <h1 crm-page-title>{{ts('Map Pin Rules')}}</h1>

  <div crm-ui-tab-set tab-set-options="{{myTabSetOptions}}">
    <div id="mappinsRule-tab-perProfile" crm-ui-tab crm-title="ts('Per Profile')">
      <label for="profile">Profile</label>
      <select id="profile" ng-model="selectedProfile" ng-options="profile as profile.title for profile in profiles | orderBy:'title'" ng-change="setSelectedProfile(selectedProfile);"></select>
      <div crm-ui-debug="rules.selectedProfile"></div>
      <div crm-ui-debug="rules.unassigned"></div>
      <div crm-ui-debug="allRules"></div>
      <div crm-ui-debug="selectedProfile"></div>
      <div crm-ui-debug="selectedProfile.hasOwnProperty('id')"></div>
      <span crm-ui-order="{var: 'byProfleOrder', 'defaults': ['weight'] }"></span>
      <div ng-if="selectedProfile.id > 0">
        <h2>Profile <em>{{selectedProfile.title}}</em> considers these assigned rules first:</h2>
        <div ng-if="_.isEmpty(rules.selectedProfile)">
          (No rules found for this profile.)
        </div>
        <table class="display" ng-if="! _.isEmpty(rules.selectedProfile)">
          <thead>
            <tr>
              <th>{{ts('ID')}}</th>
              <th>{{ts('Criteria')}}</th>
              <th>{{ts('Value')}}</th>
              <th>{{ts('Image')}}</th>
              <th>{{ts('Actions')}}</th>
            </tr>
          </thead>
          <tbody ui-sortable="{'stop': saveWeights, 'axis': 'y'}" ng-model="rules.selectedProfile" id="selectedProfileRules">
            <tr             
              ng-repeat="(key, value) in rules.selectedProfile"
              ng-class="{'disabled': value.rule.is_active == 0}"
              ng-include="'~/mappins/blockRuleRow.html'"
              ng-init="viewName = 'selectedProfile'; rule=value.rule; ruleProfile=value; tabName = 'perProfile';"
              ng-class-even="'even-row'"
              ng-class-odd="'odd-row'"
            ></tr>
          </tbody>
        </table>        
      </div>
      <div ng-if="(selectedProfile.id == 0 || ! _.isEmpty(rules.unassigned))">
        <h2>All profiles fall back to these rules:</h2>
        <div ng-if="_.isEmpty(rules.unassigned)">
          (No fallback rules found.)
        </div>
        <table class="display" ng-if="! _.isEmpty(rules.unassigned)">
          <thead>
            <tr>
              <th>{{ts('ID')}}</th>
              <th>{{ts('Criteria')}}</th>
              <th>{{ts('Value')}}</th>
              <th>{{ts('Image')}}</th>
              <th>{{ts('Actions')}}</th>
            </tr>
          </thead>
          <tbody ui-sortable="{stop: saveWeights, 'axis': 'y'}" ng-model="rules.unassigned" id="unassignedRules">
            <tr             
              ng-repeat="(key, value) in rules.unassigned"
              ng-class="{'disabled': value.rule.is_active == 0}"
              ng-include="'~/mappins/blockRuleRow.html'"
              ng-init="viewName = 'unassigned'; rule=value.rule; ruleProfile=value; tabName = 'perProfile';"
              ng-class-even="'even-row'"
              ng-class-odd="'odd-row'"
            ></tr>
          </tbody>
        </table>        
      </div>
    </div>
    <div id="mappinsRule-tab-all" crm-ui-tab crm-title="ts('All')"">
      <div crm-ui-debug="allRules"></div>
        <table class="display" ng-if="! _.isEmpty(allRules)">
          <thead>
            <tr>
              <th>{{ts('ID')}}</th>
              <th>{{ts('Criteria')}}</th>
              <th>{{ts('Value')}}</th>
              <th>{{ts('Image')}}</th>
              <th>{{ts('Actions')}}</th>
              <th>{{ts('Profiles')}}</th>
            </tr>
          </thead>
          <tbody>
            <tr             
              ng-repeat="value in allRules"
              ng-class="(value.is_active == 0 ? 'disabled' : '')"
              ng-include="'~/mappins/blockRuleRow.html'"
              ng-init="viewName = 'allRules'; rule = value;"
              ng-class-even="'even-row'"
              ng-class-odd="'odd-row'"
            ></tr>
          </tbody>
        </table>              
    </div>
  </div>
</div>
