tr#image_url_tr span#image_url-description-kcfinder {
  display: none;
}

tr#image_url_tr.has-kcfinder input#image_url {
  cursor:pointer;
}

tr#image_url_tr.has-kcfinder span#image_url-description-kcfinder {
  display: inline;
}
tr#image_url_tr.has-kcfinder span#image_url-description-manual {
  display: none;
}

/* By default, hide kcfinder description */