table#options tbody tr {
  cursor: move;
}
table#options thead th {
  cursor: default;
}

/* Disabled rows have visually toned-down images */
table#options tbody tr.disabled img.crm-mappins-rule-image {
  opacity: .25;
  filter: grayscale(50%);
  -webkit-filter: grayscale(.5);
}